In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Salaries_cleaned.csv')
df.tail

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
148645,Carolyn A Wilson,Human Services Technician,0.0,0.0,0.00,0.0,0.00,0.00,2014,San Francisco
148646,Joann Anderson,Communications Dispatcher 2,0.0,0.0,0.00,0.0,0.00,0.00,2014,San Francisco
148647,Leon Walker,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,San Francisco
148648,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,San Francisco
148649,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,San Francisco

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148650 entries, 0 to 148649
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148650 non-null  object
 1   JobTitle          148650 non-null  object
 2   BasePay           148650 non-null  float64
 3   OvertimePay       148650 non-null  float64
 4   OtherPay          148650 non-null  float64
 5   Benefits          148650 non-null  float64
 6   TotalPay          148650 non-null  float64
 7   TotalPayBenefits  148650 non-null  float64
 8   Year              148650 non-null  int64
 9   Agency            148650 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 11.3+ MB