In [7]:
import pandas as pd

In [14]:
df = pd.read_csv('../Data_Mart/Agency_Mart_Mean/Agency_mean_mart.csv')
df.head()

,Agency,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,San Francisco,66055.506718,5066.059886,3648.767297,18924.742068,74770.333901,93695.075969,2012.522603

In [ ]:
pd.read_csv('../Data_Mart/Year/Year_mart.csv')

In [ ]:
pd.read_csv('../Data_Mart/JobTitle_mart_mean/JobTitle_mean_mart.csv')

In [ ]:
from ingest_warehouse import ingest_dwh
from transform_data import create_mart_mean, create_mart_sum
import pandas as pd 
import os 

dir_name = input("Enter your dir name: ")
input_data =input("Enter your data: ")
data = ingest_dwh(input_data)
create_mart_mean(dir_name,data)
create_mart_sum(dir_name,data)